*{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #000000;
    --color-secondary: #9ad4d9;
    --color-teal-1: #dbfcff;
    --color-green-1: #C9FFDB;
    --color-blue-1: #7A9EFF;
    --color-white: #ffffff;
    --box-shadow-1: 0 3px 15px #a9b6b8;
    --box-shadow-2: 0 3px 15px #000000;
    --box-shadow-3: 0 3px 15px #9ad4d9;
    --br-sm-2: 14px;
}

body{
    background-color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
}

.hidden{
    opacity: 0;
    transition: all 1s ease-in-out;
}

.show{
    opacity: 1;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}


header{
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
    padding: 0 !important;
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
}

.sec4{
    display: none;
    transform: translateY(0) scale(1);
}

.active{
    display: block;
    animation: transition 1s ease-in-out;
    transform: translateY(0);
}

@keyframes transition {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    background-color: var(--color-blue-1);
    padding: 0.5rem;
    border-radius: 20px;
}

.controls .active-btn{
    background-color: var(--color-teal-1) !important;
    transition: all 0.8s ease-in-out;
}
.controls .active-btn i{
    color: var(--color-primary) !important;
}

.controls .control{
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-primary);
    opacity: 0.5;
    width: 10px;
    height: 10px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    box-shadow: var(--box-shadow-1);
    transition: all 0.4s ease-in-out;
}

.controls .control:hover{
    opacity: 1;
}

.control i{
    font-size: 1.2rem;
    pointer-events: none;
}

.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

#gradient{
    filter: grayscale(10%);
}

.header-content .left-header{
    display: flex;
    align-items: center;
    position: relative;
}

.header-content .left-header .h-shape{
    transition: all 0.4s ease-in-out;
    width: 65%;
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.header-content .left-header .image{
    height: 90%;
    width: 68%;
    margin-left: -0.5rem;
    transition: all 0.4s ease-in-out;
}

.header-content .left-header #cat{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.eye{
    width: 10%;
    position: absolute;
}

.header-content .right-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
}

.header-content .right-header .introduction span{
    color: #00F7FF;
    text-shadow: 5px 5px #C90C0F, 10px 10px #07870B ;
}

.header-content .right-header p{
    margin: 1.5rem 0;
    line-height: 1.5rem;
}

.btn-container{
    display: flex;
    align-self: flex-start;
}

.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
}

.main-btn .btn-text{
    padding: 0 0.5rem;
}

.main-btn .btn-icon{
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}

.main-btn::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    transition: all 0.4s ease-out;
    z-index: -1;
}

.main-btn:hover{
    transition: all 0.4s ease-out;
}

.main-btn:hover::before{
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    transform: translateX(0);
    transition: all 0.4s ease-out;
}